<form [formGroup]="ResgisterForm">
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="number" class="form-control" id="id" formControlName="id" required>
      <div class="error-message" *ngIf="ResgisterForm.get('id')?.touched && ResgisterForm.get('id')?.errors">
        ID is required and must be a number.
      </div>
    </div>
    <div class="form-group">
      <label for="title">Title:</label>
      <textarea class="form-control" id="title" formControlName="title" required minlength="10"></textarea>
      <div class="error-message" *ngIf="ResgisterForm.get('title')?.touched && ResgisterForm.get('title')?.errors">
        Title must be at least 10 characters long.
      </div>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" class="form-control" id="price" formControlName="price" required>
      <div class="error-message" *ngIf="ResgisterForm.get('price')?.touched && ResgisterForm.get('price')?.errors">
        Price is required and must be a number.
      </div>
    </div>
    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <input type="number" class="form-control" id="quantity" formControlName="quantity" required>
      <div class="error-message" *ngIf="ResgisterForm.get('quantity')?.touched && ResgisterForm.get('quantity')?.errors">
        Quantity is required and must be a number.
      </div>
    </div>
    <div class="form-group">
      <label for="like">Like:</label>
      <input type="number" class="form-control" id="like" formControlName="like" required>
      <div class="error-message" *ngIf="ResgisterForm.get('like')?.touched && ResgisterForm.get('like')?.errors">
        Like is required.
      </div>
    </div>
    <button (click)="Add()" class="btn btn-primary" [disabled]="ResgisterForm.invalid">Add</button>
  </form>